.single-hotel-page{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.single-hotel-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
}
.best{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
}
.best>p{
    color: #006ce4;
}
.single-hotel-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.carosel{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.carosel>img{
    width: 70%;
    height: 70%;
}
.arrow{
    font-size: 30px;
    padding: 10px;
}
.arrow:hover{
    background-color: gray;
    border-radius: 50%;
}
.property-heighlight-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5px;
}
.property-heighlight-container>button{
    height: 45px;
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #006ce4;
    border: none;
    border-radius: 10px;
}
.property-heighlight{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    background-color: #9ec6f2;
}
.property-heighlight>button{
    height: 45px;
    width: fit-content;
    border: none;
    background-color: #006ce4;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    width: 130px;
}
.single-desc{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.single-hotel-desc>div>small{
    color: #006ce4;
}
.single-hotel-desc>div>span{
    color: green;
}

@media screen and (max-width : 790px) {
    .arrow{
        font-size: 20px;
    }
    .property-heighlight-container>button{
        font-size: 12px;
    }
    .property-heighlight-container{
        width: 100%;
    }
    h1{
        font-size: 16px;
    }
    span{
        font-size: 12px;
    }
    .single-hotel-desc{
        margin: 5px;
    }
}

@media screen and (max-width : 590px) {
    .carosel{
        gap: 3px;
    }
    .arrow{
        padding: 3px;
        font-size: 12px;
    }
    img{
        width: 180px;
    }
    .single-hotel-desc{
        margin: 10px;
    }
    .property-heighlight-container{
        align-items: flex-end;
    }
    
    .single-hotel-container{
        margin: 10px;
    }
    .property-heighlight-container{
        padding: 0px;
    }
    .property-heighlight-container>button{
        font-size: 12px;
    }
    .property-heighlight>button{
        padding: 5px;
        font-size: 12px;
        height: 30px;
    }
}