.pList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 20px;
  }
  
  .pListItem{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
    min-width: 250px;
    transition: transform 0.3s ease;
  }
  .pListItem:hover{
    transform: scale(0.8);
  }
  
  .pListImg{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .pListTitles>h1{
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
  }
  
  .pListTitles>h2{
    font-size: 14px;
    font-weight: 300;
  }