.bpt{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bpt-container{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
    max-width: 1024px;
    margin: 10px;
}
.property-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 200px;
    min-width: 200px;
    background-color: white;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 5px;
    transition: transform 0.3s ease; 
}
.property-container:hover{
    transform: scale(0.8);
    cursor: pointer;
    transform-origin: center;
    box-shadow: 20px 20px 5px rgba(86, 85, 85, 0.2);
}
.property-container>img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 790px) {
    .property-container{
        min-width: 150px;
    }
}