.header {
    /* background-color: #003580; */
    background-image: url("https://t3.ftcdn.net/jpg/00/86/56/12/360_F_86561234_8HJdzg2iBlPap18K38mbyetKfdw1oNrm.jpg");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
  }
  
  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
  }
  
  .headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
  }
  
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .headerListItem:hover{
    cursor: pointer;
    scale: 1.2;
  }
  
  .headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  .headerTitle{
    font-weight: 800;
  }
  
  .headerDesc {
    margin: 20px 0px;
    font-size: 16px;
  }
  
  .headerBtn {
    background-color: #ffffff;
    color: #0071c2;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #0071c2;
  }
  .headerBtn:hover{
    scale: 1.2;
  }
  
  .headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
  }
  
  .headerIcon {
    color: lightgray;
  }
  
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchInput {
    border: none;
    outline: none;
  }
  
  .headerSearchText {
    color: lightgray;
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }

  @media screen and (max-width: 767px) {
    .headerSearch::-webkit-scrollbar{
      display: none;
    }
    .headerSearch{
      overflow-x: auto;
      height: 100px;
    }
    .headerSearchItem{
      margin-left: 10px;
    }
    .headerList::-webkit-scrollbar{
      display: none;
    }
    .headerList{
      overflow-x: auto;
      scrollbar-width: none;
      scroll-behavior: smooth;
      margin-bottom: 10px;
    }
    .headerListItem{
      margin: 10px;
      gap: 2px;
    }
    .headerDesc{
      margin: 10px;
    }
    .headerTitle{
      margin: 10px;
    }
    .headerBtn{
      height: 35px;
      padding: 5px;
      font-size: 14px;
      margin: 10px;
    }

  }