.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 800;
    font-size: 18px;
    color: white;
  }
  .logo>span{
    font-weight: 800;
    font-size: 22px;
    color: white;
  }
  
  .navButton{
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    transition: transform 0.3s ease;
  }
  .login-username{
    color: white;
    font-size: 22px;
  }
  .navButton:hover{
    transform: scale(0.8);
  }

  @media screen and (max-width :767px) {
    .navContainer{
      padding: 10px;
    }
  }