.trending-cities{
    display: flex;
    justify-content: center;
    width: 100%;
}
.trending-cities-container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 10px;
}
.trending-city{
    display: flex;
    flex-direction: column;
    height: 230px;
    min-width: 250px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 7px;
    background-color: white;
    transition: transform 0.3s ease; 
}
.trending-city:hover{
    transform: scale(0.8);
    cursor: pointer;
    transform-origin: center;
    box-shadow: 20px 20px 5px rgba(86, 85, 85, 0.2);
}
.trending-city>img{
    height: 70%;
    width: 100%;
}

@media screen and (max-width : 790px) {
    p{
        font-size: 13px;
    }
    .trending-city{
        min-width: 170px;
    }
}