.hotels-list-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    background-color: #e8e7e6;
}
.hotels-and-search-container{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.hotels-search-container{
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1024px;
}
.destination{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: fit-content;
}
.destination:hover{
    background-color: white;
    border: none;
}
.destination-name, .date-range{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.date-range{
    position: relative;
}
.date-open{
    position: absolute;
    top: 60px;
    left: 0px;
}
.options-con{
    position: relative;
}
.options{
    position: absolute;
    top: 70px;
}
.hotels-list-container{
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.list-of-hotels{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.loading{
    display: flex;
    justify-content: center;
}

.hotel-con{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 370px;
    width: 46%;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    transition: transform 0.3s ease;
}
.hotel-con:hover{
    transform: scale(0.8);
}
.hotel-con>img{
    height: 50%;
    width: 100%;
}
.hotel-con>div{
    display: flex;
}

.hotel-desc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hotel-review-rating{
    justify-content: space-between;
}
.rev{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hotel-name{
    font-weight: 800;
    font-size: 18px !important;
    color: #003b95;
}
.like{
    background-color: gold;
    width: fit-content;
    padding: 3px;
    cursor: pointer;
}
.desc{
    font-size: 13px;
}
.type{
    font-weight: 600;
    font-size: 14px !important;
}
.hotel-desc>div>span{
    font-size: 12px;
}
.hotel-review-rating>button, .rev>button{
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
.hotel-review-rating>button{
    background-color: #57a6f4;
    width: 100px;
    font-weight: 800;
}
.rev>button{
    background-color: #003b95;
    width: 50px;
}
.availability-btn:hover{
    color: #003b95;
    border: 1px solid #003b95;
    background-color: white;
}

@media screen and (max-width : 790px) {
    .hotels-and-search-container{
        display: flex;
        flex-direction: column;
    }
    .hotels-list-container{
        width: 100%;
    }
    .hotels-search-container{
        width: 100%;
    }
    .hotel-destination-date-container{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .hotels-search-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 1024px;
    }
    .hotel-con{
        width: 90%;
        margin: 10px;
    }
    .destination{
        margin: 0px 30px;
    }
}
@media screen and (max-width:570px) {
    .hotel-con{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 400px;
        width: 90%;
        margin: 10px;
    }
    .hotel-con>img{
        height: 50%;
        width: 100%;
    }
    .destination{
        margin: 0px 10px;
    }
    .hotel-desc>button{
        width: 80px;
        font-size: 11px;
        font-weight: 600;
        padding: 5px;
    }
    .rev>button{
        padding: 5px;
        font-size: 12px;
    }
}